#infobar{
    height: 3.5rem;
    border: 1px solid black;
    align-items: center;
    display: flex;
}
#social_container{
    display: flex;
    align-items:flex-start;
    float: left;
}
.socialmedia{
    width: fit-content;
    max-height: 3.5rem;
    border: 1px solid black;
    padding: 3px;
    margin: 2px;
}
#twitter_logo{
    margin-top:1px ;
    width: 2.9rem;
    align-items: center;
}
#facebook_logo{
    width: 2.5rem;
}
#instagram_logo{
    width: 2.5rem;
}
#weather{
    display: flex;
    margin-left: auto ;
    margin-right:2.4em;
    width: 100px;
}
#weather2{  /*IMG file's tag */
    height: 3em;
}